{% extends 'generator/layout.html' %}

{% block content %}

<h1>About</h1>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Nesciunt atque, quisquam, cumque facilis tenetur maiores natus explicabo laboriosam nihil, 
    assumenda mollitia exercitationem est accusamus ad recusandae? Tempora recusandae ad, natus 
    vel temporibus deserunt qui eum rerum cum non, dolorum voluptates sapiente voluptatem voluptatibus
     accusantium molestias placeat laboriosam, provident illo commodi! Voluptates nobis aliquam corrupti. 
     Rerum, praesentium enim amet, quam architecto ad facere ullam perferendis eum aspernatur recusandae nihil. 
     Non dolores sequi illo velit quibusdam ipsam quos corporis harum, nulla praesentium quo animi eum eius 
     qui aliquid vel! Fugiat sequi officia magni? Aperiam ab pariatur ad. Itaque omnis inventore natus rem 
     obcaecati et, voluptatem perferendis adipisci quisquam cumque ducimus quas autem dicta tempora 
     similique beatae. Repellendus necessitatibus incidunt laudantium atque fugit laboriosam itaque 
     veritatis nulla molestias quia. Dolore necessitatibus architecto pariatur doloremque iste a id, 
     cumque eius illum eveniet? Quo, quos voluptatibus? Accusantium aperiam tempora voluptates 
     necessitatibus eaque hic repellendus ratione, laborum nisi excepturi ullam quibusdam earum 
     laboriosam qui ad nulla facere totam, unde dolorem? Cum alias, nemo iure deserunt velit fugiat, 
     odio itaque unde ipsam natus voluptas aut eos nobis officia voluptatem corrupti iusto commodi 
     aspernatur minima eum repellendus amet? Doloribus fuga impedit eveniet et expedita quidem, 
     animi mollitia id minus excepturi. Obcaecati, omnis! Numquam architecto impedit ipsa, 
     laudantium harum aut doloremque fugit tempora assumenda? Eum adipisci labore quibusdam 
     praesentium ducimus accusantium maiores odio animi soluta, doloremque necessitatibus 
     deserunt eligendi alias illum autem perspiciatis repudiandae eius quod voluptatibus 
     exercitationem et natus. Deserunt asperiores, magni temporibus voluptas debitis aspernatur odit 
     earum cumque neque unde suscipit. Veniam, dicta harum molestias, quibusdam, eveniet soluta quia 
     deleniti illo ipsam sunt obcaecati ea? Dolores, magni nihil dolorum, odio aperiam impedit ea minima, 
     eum tempore perspiciatis ipsum atque commodi odit harum? Quos expedita, unde esse nesciunt deleniti 
     itaque sint, quibusdam, vitae magnam magni sapiente temporibus placeat.</p>

     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, est dignissimos? Quod quisquam, quas soluta aliquid quae quidem delectus praesentium aperiam doloremque suscipit magni voluptates, dolorum a fuga expedita rerum!</p>

     {% endblock %}